@import '_imports/main';
@import '_imports/board';

body {
  background: #a9a9a9;
}

.content {
  padding: 0;
}

#main-text {
  position: absolute;
  top: 125px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

#tridiv-pad {
  height: 35em;
  .scene {
    height: 30em;
    top: 0;
    margin: 0 0 0 -40em;
  }
}

.tp, #edit-mode-button span {
  cursor: pointer;
}

.cuboid-2 .tp {
  cursor: default;
}

#edit-mode-button, #delete-board-button {
  span {
    color: #FF3D00;
    transform: rotateZ(-90deg) translateX(-0.7em);
    display: block;
    text-align: center;
  }
}

.edit-pad-button, .edit-pad-button-hidden, .hotkey, .pad-name {
  color: white;
  text-align: center;
}

.edit-pad-button {
  transform: rotateZ(-90deg) translateX(-4.4em);
}

.edit-pad-button-hidden {
  transform: rotateZ(-90deg) translateX(-4.4em);
  z-index: -100;
  opacity: 0;
}

.hotkey {
  transform: rotateZ(-90deg) translate(-5.4em, -3.6em);
}

.pad-name {
  transform: rotateZ(-90deg) translate(-3em,3.8em);
}

@media (min-width: 768px) {
  .navbar-right~.navbar-right {
    margin-right: 5px;
  }

  .navbar-right {
    float: right!important;
    margin-right: -10px;
  }
}
