<audio class="audio-01">
  <source src='sounds/LC10.wav' type='audio/wav'>
</audio>
<audio class="audio-02">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-03">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-04">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-05">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-06">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-07">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-08">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-09">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-10">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-11">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>
<audio class="audio-12">
  <source src='sounds/rimshot.wav' type='audio/wav'>
</audio>

<div id="tridiv-create">
  <div class="scene" style="-webkit-transform:rotateX(-62deg) rotateY(-810deg); -moz-transform:rotateX(-62deg) rotateY(-810deg); -ms-transform:rotateX(-62deg) rotateY(-810deg); transform:rotateX(-62deg) rotateY(-810deg); ">
    <div class="shape cuboid-1 cub-1">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-03" class="face tp" ng-click="play('.audio-03', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-2 cub-2">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-3 cub-3">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-07" class="face tp" ng-click="play('.audio-07', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-4 cub-4">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-11" class="face tp" ng-click="play('.audio-11', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-5 cub-5">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-02" class="face tp" ng-click="play('.audio-02', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-6 cub-6">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-06" class="face tp" ng-click="play('.audio-06', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-7 cub-7">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-05" class="face tp" ng-click="play('.audio-05', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-8 cub-8">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-10" class="face tp" ng-click="play('.audio-10', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-9 cub-9">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-09" class="face tp" ng-click="play('.audio-09', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-10 cub-10">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-01" class="face tp" ng-click="play('.audio-01', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-11 cub-11">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-04" class="face tp" ng-click="play('.audio-04', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-12 cub-12">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-08" class="face tp" ng-click="play('.audio-08', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-13 cub-13">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div id="pad-12" class="face tp" ng-click="play('.audio-12', $event)">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.317647);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0470588);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
        </div>
      </div>
    </div>
    <div class="shape cylinder-2 cyl-2">
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face side s0">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
      </div>
      <div class="face side s1">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0352941);"></div>
      </div>
      <div class="face side s2">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
      </div>
      <div class="face side s3">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face side s4">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
      </div>
      <div class="face side s5">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.262745);"></div>
      </div>
      <div class="face side s6">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.321569);"></div>
      </div>
      <div class="face side s7">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.321569);"></div>
      </div>
      <div class="face side s8">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.262745);"></div>
      </div>
      <div class="face side s9">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
      </div>
      <div class="face side s10">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0470588);"></div>
      </div>
      <div class="face side s11">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
      </div>
      <div class="face side s12">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0352941);"></div>
      </div>
      <div class="face side s13">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
      </div>
    </div>
  </div>
</div>
